
.bg-grey {
  background: #f0f0f0;
}
.logo-footer {
  font-family: 'Poppins', sans-serif;
  font-size: 2.3em;
  font-weight: 900;
  font-style: oblique;
  margin: 0;
}

.logo-part {
  height: 100%;
}

.footerSize {
  font-size: 12px;
  line-height: 25px;
}

.footerFont {
  font-family: "Coolvetica", Helvetica, sans-serif;
  margin-bottom: 21px;
  position: relative;
  font-size: 19px;

  &::after {
    position: absolute;
    content: "";
    background: $grey;
    width: 16%;
    height: 1px;
    left: 0;
    bottom: -6px;
  }
}

footer p {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.btn-footer {
  color: $grey;
  text-decoration: none;
  border: 1px solid;
  border-radius: 43px;
  font-size: 13px;
  padding: 7px 27px;
  line-height: 47px;

  &:hover {
    text-decoration: none;
    color: $black_primary !important;
  }
}

.social a {
  text-decoration: none !important;
  color: $grey;
  font-size: 14px;

  &:hover {
    color: $black_primary !important;
  }
}

@media all and (max-width: 768px) {
  .logo-part {
    height: 90px;
    border-right: none;
  }

  #footer .col-md-3 {
    padding-bottom: 30px;

    &:last-child {
      padding-bottom: 0px;
    }
  }
}

@media all and (max-width: 992px) {
  .logo-footer {
    font-size: 1.6em;
  }
}
@media all and (max-width: 1300px) {
  .logo-footer {
    font-size: 1.8em;
  }
}

.back-to-top {
  background: #46423b;
  width: 36px;
  height: 35px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: $white_primary;
  line-height: 0;
}
.back-to-top:hover {
  background: $grey;
}

.footer {
  background: #f0f0f0;
  color: $black_primary;
  // font-family: "Coolvetica", Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}
.footer .logo-footer {
  font-family: 'Poppins', sans-serif;
  font-size: 2.3em;
  font-weight: 900;
  font-style: oblique;
  margin: 0;
}
.footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}
.footer .social-links {
  margin: 0 0 40px 0;
}
.footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #46423b;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.footer .social-links a:hover {
  background: $grey;
}
.footer .copyright {
  margin: 0 0 5px 0;
}
.footer .designed {
  font-size: 13px;
}