$white_primary:rgb(255, 255, 255);
$black_primary:rgb(0, 0, 0);
$grey:rgb(128, 128,128);


.fs-7{
    font-size: 0.75rem;
}
.fs-8{
    font-size: 0.5rem;
}
.oculto{
    display: none;
}
.visible{
    display: inline-flex;
}

